.container{
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: #CA9B55;
    border: 1px solid #F3F3F3;
    margin-bottom: 50px;
    padding: 20px;
    width: 260px;
    height: 318px;
    ;
    border-radius: 40px;
    margin-left: 50px;
    transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out;

    .plus {
        cursor: pointer;
    }

    .item {
        margin-left: 20px;
        border-radius: 20px;
    }

    span {
        text-transform: uppercase;
        color: #603601;
    }

    h5 {
        margin: 10px;
        font-weight: 400;
        font-size: 16px;

    }
}

.card:hover {
    box-shadow: 0.1px 14px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
}


@media only screen and (max-width: 700px) {
    .loader{
        width: 270px;
        height: 270px;
    }
    .container{
        margin-left: 20px;
    }
.card {
    background-color: #CA9B55;
    border: 1px solid #F3F3F3;
    margin-bottom: 50px;
    padding: 20px;
    width: 210px;
    height: 300px;
    ;
    border-radius: 40px;
    margin-left: 20px;
    transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out;

    .plus {
        cursor: pointer;
        margin-bottom: 30px;
    }


    .item {
        border-radius: 20px;
        width: 130px;
        height: 110px;
    }

    span {
        text-transform: uppercase;
        color: #603601;
    }

    h5 {
        margin: 10px;
        font-weight: 400;
        font-size: 16px;

    }
}
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: #CA9B55;
        border: 1px solid #F3F3F3;
        margin-bottom: 50px;
        padding: 20px;
        width: 210px;
        height: 300px;
        ;
        border-radius: 40px;
        margin-left: 35px;
        transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out;
    
        .plus {
            cursor: pointer;
            margin-bottom: 30px;
        }
      
    
        .item {
            border-radius: 20px;
            width:130px;
             height:110px;
        }
    
        span {
            text-transform: uppercase;
            color: #603601;
        }
    
        h5 {
            margin: 10px;
            font-weight: 400;
            font-size: 16px;
    
        }
    }
}